body{
    font-family:Verdana"; bgcolor = "403234"; text ="F7F3F5";
}

h4{
    color:wheat;
    text-align: center;
}
table{
    align-self: center; color:black; width:60%; border:".5"; text-align: center; background-color: white;
}

tr{
    font-size:11px; 
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #6e6260;
}

li {
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}
h5{
    text-align: center;
    font-style: italic;
}